@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fdf6e3;
    width: 100vw;
    overflow-x: hidden;
    font-family: "inter";
    
}
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
